services:
  backend:
    build:
      context: ./backend/OnlineBookstore.Api
    container_name: online-bookstore-backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: online-bookstore-frontend
    depends_on:
      - backend
    ports:
      - "4200:80"
